/*Some Useful Imports*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Sacramento&family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap');

:root {
  --nigerian-green: #2d8003;
  --white: #ffffff;
  --lemon: #57e411;
  --gold: #f0c70f;
  --opaqueRed: #e5646e55;
  --lightRed: #e5646e;
  --darkRed: #d65361;
  --lightYellow: #ffe07d;
  --darkYellow: #ffd063;
  --grey: #999;
  --black: #000000;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 0.80em;
}

button {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--white);
  text-emphasis: 5px;
}

hr {
  margin-top: 10px;
  width: 100%;
}

.or {
  background: var(--black);
  width: 30px;
  margin: -19px auto 10px;
  font-size: 1rem;
}

.fa-6x {
  margin-top: -70px;
  color: var(--white);
}

.subscription-form {
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: black;
  padding: 20px;
  margin: 5% auto 0;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

.subscription-form::before {
  content: "";
  background-image: url("../assets/images/nature.jpg");
  background-size: cover;
  background-repeat: stretch;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

.subscription-form h1 {
  color: var(--lemon);
  margin: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

.subscription-form h3 {
  color: var(--gold);
}

.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 75%;
  border: 1px solid var(--grey);
  outline: none;
}

.subscribe-btn {
  background-color: var(--nigerian-green);
}

.proceed-btn {
  background-color: var(--gold);
}

.proceed-btn a {
  color: var(--black);
}